/* This was converted to css to show a basic example - we can include less/scss in other files */

.cmp-accordion__header {
    margin: 0;
}
.cmp-accordion__button {
    display: block;
    width: 100%;
    text-align: left;
}
.cmp-accordion__panel--hidden {
    display: none;
}
.cmp-accordion__panel--expanded {
    display: block;
}
  